

<div class="conteiner m-4">
  <div class="row">
    <div class="col-6" style="margin-left: 200px;">
      <h2>{{inputData}}</h2>
      <div>
        <input [(ngModel)]="name" #RefVal type="text" class="form-control" />
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <h4 style="font-weight: 500;">{{ name }}</h4>
        </div>
      </div>
      <div class="mt-2">
        <button (click)="BtnClick(1, RefVal.value)" class="btn btn-primary">
          Click me
        </button>
        <button routerLink="/home" class="btn btn-success m-2">Router</button>
        <button class="btn btn-success">Primary</button>
      </div>
  
      <div *ngIf="conditionalBlock; else elseBlock">
    <h2>Condition True</h2>
  </div>
  <ng-template #elseBlock>
    <h2>Condition False</h2>
  </ng-template>

      <div *ngFor="let student of students; index as i;"> 
          <div class="card mt-2">
           <div class="card-header">
            {{i+1}}
           </div>
            <div class="card-body cardStyle">
              <h2>Name: {{ student.Name }}</h2>
              <h3>Roll: {{ student.Roll }}</h3>
              <h3>Dept: {{ student.Dept }}</h3>
              <p *ngIf="student.Dept=='CSE'">
                <button class="btn btn-info" (click)="outData.emit()">Congrats</button>
              </p> 
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
