<mat-toolbar color="primary">
  <!-- <nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav> -->
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular App</span>
  <span class="example-spacer"></span>
  <div class="col-6">
    <div class="flex-container">
      <button mat-raised-button color="primary">Primary</button>
    <div><a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
</div>
      <div><button mat-icon-button>Contact</button></div>
    </div>
  </div>
  <!-- <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul> -->
  <!-- <div style="margin-left: 55%;">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div> -->
</mat-toolbar>
