<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular App</span>
  <span class="example-spacer"></span>
  <div class="col-6">
    <div class="flex-container">
      <button
        routerLink="/hello"
        mat-raised-button
        color="primary"
        style="align-self: center"
      >
        Home
      </button>
      <div>
        <a mat-stroked-button  
          >Link</a
        >
      </div>
      <div><button mat-icon-button>Contact</button></div>
    </div>
  </div>
</mat-toolbar>
